* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #251b92;
  background: url("../images/backcover.svg");
  background-position: right;
  background-size: 890px;
  background-repeat: no-repeat;
}

.main-div {
  padding: 3% 15%;
}

button {
  cursor: pointer;
}

/* ----------- Navbar start ----------- */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  margin: 0 30px;
  cursor: pointer;
}

.signin-btn {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background: linear-gradient(to right, #aa46fc, #ff70a7);
  border: none;
  padding: 5px 15px;
  border-radius: 30px;
}

.menu-icon {
  display: none;
  height: 32px;
  cursor: pointer;
}

/* ----------- Navbar end ----------- */

/* ----------- Intro section start ----------- */

.intro-section {
  padding-top: 150px;
}

.left-section {
  float: left;
  width: 50%;
}

.left-section h1 {
  font-size: 60px;
}

.left-section h4 {
  font-size: 14px;
  font-weight: normal;
  padding: 30px 0;
  width: 60%;
  line-height: 1.6;
}

.learn-more-btn {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background: linear-gradient(to right, #aa46fc, #ff70a7);
  border: none;
  font-size: 26px;
  padding: 10px 25px;
  border-radius: 30px;
}

.imgs-div img[alt="intro-img"] {
  position: fixed;
  top: 15%;
  right: 5%;
  height: 80vh;
  width: 55vw;
}

.vector-img {
  position: fixed;
  top: 65%;
  left: 45%;
}

.vector-dot {
  position: fixed;
  top: 65%;
  left: 48.5%;
}

/* ----------- Intro section end ----------- */

@media screen and (max-width: 1199px) {
  body {
    background-size: 640px;
  }
  .main-div {
    padding: 3% 10%;
  }
  img[alt="logo"] {
    height: 40px;
  }
  .imgs-div img[alt="intro-img"] {
    height: 70vh;
    width: 50vw;
  }
  .vector-dot {
    left: 49.5%;
  }
}

@media only screen and (max-width: 991px) {
  body {
    background-size: 550px;
    background-position: top right;
  }
  .nav-item {
    margin: 0 20px;
    cursor: pointer;
  }
  .learn-more-btn {
    font-size: 22px;
    padding: 10px 20px;
  }
  .vector-img {
    left: 40%;
    height: 80px;
  }
  .vector-dot {
    left: 44.5%;
    height: 24px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    background-size: 500px;
  }
  .main-div {
    padding: 2% 5%;
  }
  .nav-items,
  .signin-btn {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  .imgs-div img[alt="intro-img"] {
    height: 65vh;
    width: 50vw;
  }
  .intro-section {
    padding-top: 120px;
  }
  .left-section h1 {
    font-size: 48px;
  }
  .vector-dot,
  .vector-img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background: none;
  }
  .intro-section {
    padding-top: 80px;
  }
  .left-section {
    width: 100%;
  }
  .imgs-div img[alt="intro-img"] {
    top: 45%;
    width: 75vw;
  }
  .left-section h4 {
    padding: 30px 0;
    width: 70%;
  }
  .learn-more-btn {
    font-size: 20px;
  }
  .vector-img {
    display: inline-block;
    top: 85%;
    left: 20%;
    height: 60px;
  }
  .vector-dot {
    display: inline-block;
    top: 85%;
    left: 26.5%;
    height: 18px;
  }
}
